#container{
  margin-top: 18px;
  margin-left:  18px;
  margin-right: 18px;
  
  padding: 10px 150px 10px 150px;
}

body{
  font-family: Palatino, 'Palatino Linotype', serif;
}
h1{
  font-size:32x;
}
